@font-face {
    font-family: simple;
    src: url(fonts/simple.ttf);
}

@font-face {
    font-family: heading;
    src: url(fonts/heading.ttf);
}

#heading{
    border-bottom: thick solid #F57B7A;
    height: 300px;
}

#container{
	width: 800px;
    margin: 0 auto;
}

img{
	width: 250px;
	height: 250px;
	float: right;
	top: 0;
}

.info{
	position: relative;
	width: 80%;
	margin-left: 30%;
	padding: 20px 0px;
}

.titles{
	position: relative;
	float: left;
	width: 20%;
	padding: 20px;
	border-right: thick solid #67C9F6;
}

#items{
	list-style-type: none;
	margin-bottom: 100px;
}

.contact{
	margin-top: 100px;
}

#bg{
	background-image: url("img/background.jpg");
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	margin: 0;
    display: block;
	bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

body{
	font-color: #000000;
	font-family: simple;
}

#name{
	font-family: heading;
}